.navbar-default {
  background: none;
  border: none;
  box-shadow: none;
}

.navbar-default .navbar-nav > li > a {
  padding: 30px 20px 15px 20px;
  font-size: 15px;
  color: #484c55;
  border-bottom: solid 3px transparent;
}

.navbar-default .navbar-nav > li:hover a {
  border-bottom: solid 3px gray;
}

header {
  background-image: url("header-bg.png");
  width: 100%;
  height: 750px;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar-header a {
  padding-top: 30px;
}

.container {
  font-family: "Asap";
}
.container h1 {
  padding-top: 130px;
  color: #4d4d4d;
  font-size: 90px;
}
.container h3 {
  color: #909090;
  padding-bottom: 40px;
  font-size: 22px;
}

.btn-default {
  background-color: transparent;
  color: black;
  border: black solid 1px;
  border-radius: inherit;
  padding: 10px 20px 10px 20px;
  margin-right: 20px;
}
.btn-default:hover a {
  background-color: white;
  border: black solid 1px;
}

.know-more h2 {
  font-size: 46px;
  color: #4d4d4d;
  margin-top: 180px;
}
.know-more article {
  font-size: 16px;
  color: #4d4d4d;
  padding-bottom: 40px;
  margin-right: 130px;
}
.know-more img {
  margin-top: 110px;
  padding-bottom: 100px;
}
.know-more a {
  margin-bottom: 100px;
}

h2 {
  padding-top: 120px;
  font-size: 46px;
  color: #4d4d4d;
}

.services {
  text-align: center;
  background-color: #f6f6f6;
}
.services h2 {
  padding-bottom: 60px;
}
.services i {
  font-size: 60px;
  color: black;
}
.services h3 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 115px;
}

.skills {
  text-align: center;
}
.skills h2 {
  margin-top: 40px;
  padding-bottom: 60px;
}
.skills img {
  padding-bottom: 120px;
}

.portfolio {
  text-align: center;
  background-color: #f6f6f6;
}
.portfolio h2 {
  margin-top: 40px;
  padding-bottom: 60px;
}
.portfolio img {
  padding-bottom: 20px;
}
.portfolio a {
  margin-top: 30px;
  margin-bottom: 120px;
}

.testimonials {
  text-align: left;
}
.testimonials h2 {
  padding-bottom: 20px;
  text-align: center;
}
.testimonials p {
  font-size: 30px;
  color: black;
}
.testimonials h4 {
  font-size: 14px;
  color: black;
  font-weight: bold;
  padding-bottom: 15px;
}
.testimonials article {
  font-size: 16px;
  color: #717171;
}
.testimonials img {
  margin-right: 30px;
}

.testimonials-border {
  border: black solid 1px;
  padding: 80px 80px 120px 80px;
  margin-bottom: 100px;
}

.achievement {
  padding-top: 100px;
  text-align: center;
  background-color: #f6f6f6;
  font-size: 30px;
  font-weight: bold;
  color: #212121;
  padding-bottom: 100px;
  overflow: auto;
  margin-bottom: 150px;
}
.achievement i {
  color: #4d4d4d;
  font-size: 70px;
}
.achievement h4 {
  font-size: 22px;
  font-weight: normal;
}

.contact-us {
  background-image: url("footer-bg.png");
  background-position: center;
  background-repeat: no-repeat;
}
.contact-us h2 {
  text-align: center;
  color: white;
}
.contact-us .contact-form {
  text-align: center;
  margin: auto;
  padding: 60px 80px 100px 60px;
}
.contact-us .input-container input {
  margin-right: 30px;
  padding: 12px;
  margin-bottom: 20px;
  width: 370px;
  height: 60px;
  border: none;
  background-color: white;
  font-size: 12px;
  font-weight: bold;
}
.contact-us .submit-container textarea {
  margin-right: 30px;
  width: 770px;
  height: 210px;
  border: none;
  background-color: white;
}
.contact-us .submit-btn input {
  background-color: white;
  border: none;
  margin-top: 20px;
  color: black;
  padding: 12px 20px;
}

.social-media {
  font-size: 30px;
}
.social-media a {
  color: white;
  margin-right: 15px;
}

.footer {
  border-top: white solid 1px;
  padding: 30px;
}
.footer p {
  font-size: 18px;
  text-align: center;
  color: white;
}

/*# sourceMappingURL=style.prepros.css.map */
